@import url(https://fonts.googleapis.com/css?family=Kumar+One+Outline&display=swap);

body{
     background-image: url(./assets/repo2.jpg); 
}

.hed{
    color: white;
    text-align: center;
}
.prof{
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}